@import url(./reset.css);

/*-------------------------- Container Rules --------------------------*/

.container {
    width: min(100% - 30px, 330px);
    margin-inline: auto;
}

/*-------------------------- Body BG --------------------------*/

body {
    background-color: #1a1d28;
    height: auto;
}

/*-------------------------- Title --------------------------*/

h2 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-weight: 400;
}

/*-------------------------- Calculator Body --------------------------*/

section {
    background-color: #2b2e37;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 60px;
    box-shadow: 1px 1px 5px #000;
}

/*-------------------------- Display Style --------------------------*/

.display {
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 3px #000;
    border-radius: 5px;
}

.past-inp {
    height: 30px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}

.num-inp {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    background-color: unset;
    font-size: 25px;
    color: #fff;
    text-align: right;
}

/*-------------------------- Buttons Grid --------------------------*/

.buttons-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}

.g-span-2 {
    grid-column: span 2;
}

.g-span-3 {
    grid-column: span 3;
}

.num {
    width: auto;
    height: 60px;
    text-align: center;
    background-color: #515157;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.operator {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #800000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

input[type=button]:active, input[type=reset]:active {
    box-shadow: inset 1px 1px 1px #000;
    border: none;
}

#equals {
    cursor: pointer;
}

#equals:active {
    box-shadow: inset 1px 1px 1px #000;
    border: none;
}